@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

:root {
    --theme-color: #5BB6FF
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-color, aqua);
}

.head-text{
    padding: 0px 2em;
}

@media (max-width:600px) {
    .head-text{
        padding: 0px 10px;
    }
    
}